.SideMenu {
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
  flex: 0 0 170px;
  border-right: 1px solid #f5f7fc;
  order: 2;
  border-top: 1px solid #f5f7fc;
}

.Button {
  outline: none;
  padding: 7px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  border-radius: 7px;
  color: rgba(39, 39, 46, 0.7);
  font-size: 18px;
  cursor: pointer;
  margin: 1px;
}

.Button:hover {
  background-color: #eff2f9;
  color: #323240;
}

.Button svg {
  display: none;
}

.ButtonActive {
  background-color: #f5f7fc;
}

.ButtonActive svg {
  display: block;
}


@media screen and (min-width: 540px) {
  .SideMenu {
    border-top: none;
    order: 0;
  }
}
