.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  /*display: none;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  background-color: #dee2eb;
}

.Container {
  max-width: 515px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.Content {
  display: flex;
}

.SideMenu {

}

.Dropdown{
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin: -0.5rem;
  padding: 0.5rem;
  width: 34.5rem;
  box-shadow: 3px 3px 0.75rem 0 rgba(40, 40, 114, 0.03), 0 1px 0.25rem 0 rgba(40, 40, 114, 0.05);
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%;
}

.CalendarComponent{
  display: flex;
}

.ChevronPosition{
  margin-top: 3px;
  margin-left: 10px;
}

.Active {
  transform: scale(1);
}

.Datepicker {
}

.Wrapper {
  width: 34.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 3px 3px 0.75rem 0 rgb(40 40 114 / 3%), 0 1px 0.25rem 0 rgb(40 40 114 / 5%);
  z-index: 3;
  margin-left: 202px;
  cursor: default;
}

.DropdownWrapper {
  height: 2rem;
  padding: 0 1.25rem;
  margin-left: 202px;
  border-radius: 1rem;
  color: rgba(42, 42, 58, 0.7);
  cursor: pointer;
}

.DropdownWrapper:hover {
  background-color: #eff2f9;
  color: #2a2a3a;
}



/*.Datepicker {*/
/*}*/

/*.Wrapper {*/
/*  width: 34.5rem;*/
/*  padding: 0.5rem;*/
/*  background-color: #fff;*/
/*  border-radius: 1rem;*/
/*  box-shadow: 3px 3px 0.75rem 0 rgb(40 40 114 / 3%), 0 1px 0.25rem 0 rgb(40 40 114 / 5%);*/
/*  z-index: 3;*/
/*  margin-left: 202px;*/
/*  cursor: default;*/
/*}*/

/*.Main {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/

/*.Footer {*/
/*  display: grid;*/
/*  margin-right: -0.5rem;*/
/*  margin-left: -0.5rem;*/
/*  padding: 1rem 1rem 0.5rem;*/
/*  justify-content: flex-end;*/
/*  grid-auto-columns: 1fr;*/
/*  grid-column-gap: 0.25rem;*/
/*  grid-row-gap: 16px;*/
/*  grid-template-columns: max-content max-content;*/
/*  grid-template-rows: auto;*/
/*  border-top: 1px solid #f5f7fc;*/
/*}*/

/*.Btn {*/
/*  padding: 0.33rem 0.75rem;*/
/*  background: transparent;*/
/*  border: none;*/
/*  border-radius: 0.5rem;*/
/*  color: rgba(39, 39, 46, 0.7);*/
/*  font-size: 0.9375rem;*/
/*  letter-spacing: 0;*/
/*  text-transform: none;*/
/*  font-weight: 600;*/
/*  cursor: pointer;*/
/*}*/

/*.Btn:hover {*/
/*  background-color: #f5f7fc;*/
/*  box-shadow: none;*/
/*}*/

/*.Primary {*/
/*  color: #4747fc;*/
/*}*/

/*.DropdownWrapper {*/
/*  height: 2rem;*/
/*  padding: 0 1.25rem;*/
/*  margin-left: 202px;*/
/*  border-radius: 1rem;*/
/*  color: rgba(42, 42, 58, 0.7);*/
/*  cursor: pointer;*/
/*}*/

/*.DropdownWrapper:hover {*/
/*  background-color: #eff2f9;*/
/*  color: #2a2a3a;*/
/*}*/

/*.ChevronPosition {*/
/*  margin-top: 3px;*/
/*  margin-left: 10px;*/
/*}*/

/*.Dropdown {*/
/*  display: flex;*/
/*  padding-top: 0.45rem;*/
/*  padding-bottom: 0.45rem;*/
/*  z-index: 1;*/
/*}*/

/*.Modal {*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: auto;*/
/*  background-color: rgba(92, 110, 153, 0.2);*/
/*  backdrop-filter: blur(4px);*/
/*  transform: scale(0);*/
/*  z-index: 2;*/
/*  cursor: pointer;*/
/*}*/

/*.Active {*/
/*  transform: scale(1);*/
/*}*/

/*@media (max-width: 800px) {*/
/*  .DropdownWrapper {*/
/*    margin: 0 auto;*/
/*  }*/
/*  .Wrapper {*/
/*    margin: 0 auto;*/
/*  }*/
/*}*/

/*@media (max-width: 580px) {*/
/*  .Wrapper {*/
/*    width: 20.5rem;*/
/*    padding: 0.25rem;*/
/*  }*/
/*  .Btn {*/
/*    font-size: 11px;*/
/*  }*/
/*  .Footer {*/
/*    padding: 0.5rem 0.5rem 0.25rem;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*  }*/
/*}*/
