.NavButtonPosition {
  max-height: 100%;
  margin-top: -0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  flex-basis: 11rem;
  border-right: 1px solid #f5f7fc;
  border-radius: 0;
}

.NavButton {
  position: relative;
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: max-content 1fr 8.5rem;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 0.5rem;
  background-color: #fff;
  color: rgba(39, 39, 46, 0.7);
}

.NavButton:hover {
  background-color: #eff2f9;
  color: #323240;
  cursor: pointer;
}

.ButtonActive{
  background-color: #f5f7fc;
  background-image: url("check.svg");
  background-repeat: no-repeat;
  background-position-x: 138px;
  background-position-y: center;
  background-size: 30px
;
}

.CustomButtonActive {
  background-color: #f5f7fc;
}

@media (max-width: 580px) {
  .NavButton {
    font-size: 15px;
    padding: 0.25rem 0.5rem;
  }
  .NavButtonPosition {
    flex-basis: 7rem;
  }
  .ButtonActive{
    background-position-x: 82px;
    background-size: 21px;
  }
}
